# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/
auth_cookies.txt
login_headers.txt
after_back.png
device_*.png
verify_*.png
flutter_run.log
build_arm64.ps1
build_apk_arm64_v8a.ps1

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json
release_output/
release_symbols/

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
